pip==22.2
bump2version==1.0.1
wheel==0.38.1
watchdog==2.1.9
flake8==4.0.1
tox==3.25.1
coverage==6.4.2
Sphinx==3.1.2
twine==3.4.1
Click==7.1.2
click-config-file==0.6.0
pytest==6.2.3
pytest-runner==5.3.0
black==24.3.0
scipy==1.5.1
numpy==1.22.0
matplotlib==3.3.0
PyInstaller==5.2